<h2 class="text-center text-success">Donor Details</h2>
<table>
  <tr>
    <td>
      <strong>First Name: </strong>
    </td>
    <td>{{donorService.currentDonor?.firstName}}</td>
  </tr>
  <tr>
    <td>
      <strong>Last Name: </strong>
    </td>
    <td>{{donorService.currentDonor?.lastName}}</td>
  </tr>
  <tr>
    <td>
      <strong>Email: </strong>
    </td>
    <td>{{donorService.currentDonor?.email}}</td>
  </tr>
  <tr>
    <td>
      <strong>Phone Number: </strong>
    </td>
    <td>{{donorService.currentDonor?.phoneNumber}}</td>
  </tr>
  <tr>
    <td>
      <strong>Gender: </strong>
    </td>
    <td>{{donorService.currentDonor?.gender}}</td>
  </tr>
  <tr>
    <td>
      <strong>Date Of Birth: </strong>
    </td>
    <td>{{donorService?.currentDonor?.dateOfBirth}}</td>
  </tr>
  <tr>
    <td>
      <strong>Date added: </strong>
    </td>
    <td>{{donorService.currentDonor?.dateAdded}}</td>
  </tr>
</table>
<hr>
<h3 class="text-center text-info">Donations</h3>
<table class="table table-sm table-hover" id="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Organisation</th>
      <th>Story</th>
      <th>Amount</th>
      <th>Matched Amount</th>
      <th>Type</th>
      <th>Points Company</th>
    </tr>
  </thead>
  <tbody> 
    <tr *ngFor="let donation of donationService.donationList" (click)="showForEdit(donation)">
      <td>{{donation?.id}}</td>
      <td>{{donation?.dateAdded}}</td>
      <td>{{donation?.story?.organisation?.name}}</td>
      <td>
        <textarea class="form-control" name="" id="" cols="100" rows="2" readonly>{{donation?.story?.description}}</textarea>
      </td>
      <td>{{donation?.amount}}</td>
      <td>{{donation?.matchedAmount}}</td>
      <td>{{donation?.type}}</td>
      <td>{{donation?.pointsCompany?.name}}</td>
    </tr>
  </tbody>
</table>

<h2 class="text-center text-success">Selected Donation Details</h2>
<table>
  <tr>
    <td>
      <strong>Donor: </strong>
    </td>
    <td>{{donationService.selectedDonation?.donor?.firstName}} {{donationService.selectedDonation?.donor?.lastName}}</td>
  </tr>
  <tr>
    <td>
      <strong>Story: </strong>
    </td>
    <td>{{donationService.selectedDonation?.story?.description}}</td>
  </tr>
  <tr>
    <td>
      <strong>Amount: </strong>
    </td>
    <td>{{donationService.selectedDonation?.amount}}</td>
  </tr>
  <tr>
    <td>
      <strong>Matched Amount: </strong>
    </td>
    <td>{{donationService.selectedDonation?.matchedAmount}}</td>
  </tr>
  <tr>
    <td>
      <strong>Type: </strong>
    </td>
    <td>{{donationService.selectedDonation?.type}}</td>
  </tr>
  <tr>
    <td>
      <strong>Date added: </strong>
    </td>
    <td>{{donationService.selectedDonation?.dateAdded}}</td>
  </tr>
</table>

<div>
  <h3 class="text-center text-info">Transactions</h3>
  <table class="table table-sm table-hover">
    <thead>
      <th>Brand Amount</th>
      <th>Microfundit Amount</th>
      <th>Story Amount</th>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of donationService.selectedDonation?.transactions">
        <td>{{transaction?.brandAmount}}</td>
        <td>{{transaction?.microfunditAmount}}</td>
        <td>{{transaction?.storyAmount}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <h3 class="text-center text-info">Matched Brands</h3>
  <table class="table table-sm table-hover">
    <thead>
      <th>ID</th>
      <th>Name</th>
    </thead>
    <tbody>
      <tr *ngFor="let brand of donationService.selectedDonation?.matchedBrands">
        <td>{{brand?.id}}</td>
        <td>{{brand?.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
