<h2 class="text-center">All Brands</h2>
<table datatable class="table table-sm table-hover" id="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Date added</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let brand of brandService.brandList">
      <td>{{brand?.id}}</td>
      <td>{{brand?.name}}</td>
      <td>{{brand?.dateAdded}}</td>
      <td>
        <a class="btn" (click)="showForEdit(brand)">
          <i class="fa fa-pencil-square-o"></i>Edit
        </a>
        <a class="btn text-danger" (click)="onDelete(brand.id)">
          <i class="fa fa-trash-o"></i>Del
        </a>
      </td>
    </tr>
  </tbody>
</table>
